* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 7px 1px black;
    width: 98,5%;
}
    
.header ul {
    display: flex;
}

ul li a {
    color: #fff;
    padding: 20px;
}

header img {
    width: 80px;
    height: 80px;
}

.menu-bar ul {
    display: flex;
    gap: 40px;
} 

.menu-icon {
    font-size: 40px;
    cursor: pointer;
    margin-right: 110px;
}

body {
    background: #513219;
    font-family: Roboto, sans-serif;
    height: 100%;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.first-content {
    display: flex;
    gap: 30%;
    margin-left: 38%;
}

.warning {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
    margin-right: 14%;
}


/* SLIDER  */
.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content .slide img {
    width: 100%;
    height: 100%;
}

.navigation {
    position: absolute;
    bottom: 160px;
    left: 850px;
    display: flex;
}

.bar {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transform: .5s ease;
}

.bar:hover {
    background-color: #fff;
    transition: 0.7s;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .8s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}
/* END SLIDER */

.content-choose {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 120%;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.choose-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sweets {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 3px solid white;
    width: 200px;
    height: 150px;
}

.sweets img {
    width: 100%;
    height: 100%;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: #fff;
    margin: 3px solid black;
    color: black;
}

footer p {
    color: black;
}

a {
    color: black;
}
