* {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

body {
    background: #513219;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    align-items: center;    
}

header a {
    color: #fff;
}

header a:hover {
    color: rgba(255, 208, 0, 0.932);
    cursor: pointer;
    transition: ease-out 0.3s;
}

.logo {
    width: 80px;
    height: 80px; 
}

.menu-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bar ul i {
    font-size: 40px;
    cursor: pointer;
}

.first-content {
    display: flex;
    gap: 30%;
}

.warning {
    display: flex;
    justify-content: center;    
}

/* SLIDER  */

.slider {
    width: 100%;
    height: 599px;
    position: relative;
}

.slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.7s;
}

.slider img.selected {
    opacity: 1;
}

/* END SLIDER */

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-choose img {
    border: 3px solid white;
    width: 260px;
    height: 170px;
}

.choose-section-text {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.section-one {
    display: flex;
}

.section-two {
    margin-top: 60px;
    display: flex;
}

#card {
    border: 5px solid #fff;
}

/* FOOTER */
footer {
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    height: 18%;
    background-color: #fff;
    margin: 3px solid black;
    color: black;
    margin-top: 10%;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.footer-content * {
    margin: 3px;
}

.copyright {
    margin-top: 12px;
    margin-bottom: 12px;
}

footer p {
    color: black;
}

a {
    color: black;
}

/* MEDIA QUERIES */

@media (max-width : 1050px) {
    .sweets img {
        width: 70%;
        height: 90%;
    }

    .choose-section-text {
        font-size: 10px;
    }

    header {
        font-size: 15px;
    }

    .slider {
        height: 400px;
    }
}

@media (max-width : 750px) {
    header li {
        font-size: 12px;
    }

    .warning {
        font-size: 12px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .teste {
        font-size: 1px;
    }
}

@media (max-width : 565px) {
    header {
        font-size: 2px;
        width: 100%;
    }

    header img {
        width: 40px;
        height: 40px;
    }

    #contact {
        display: none;
    }

    #cart {
        display: none;
    } 
}